.custome-container {
    background-color: transparent;
    padding: 50px;
    font-size: 62.5%;
    font-family: 'Montserrat',Arial,Helvetica,sans-serif;
}
#nav-tab {
    font-size: 1rem;
    margin-bottom: 40px;
}
.tab-content {
    font-size: 1.1rem;
    font-weight: 600;
}
.preview-image {
    margin-top: 14px;
    width: 300px;
    max-height: 300px;
}
.question-wrapper, .quizz-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
}
.add-question__heading {
    background-color: #ddd;
    padding-left: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
}
.add-question__content {
    padding-left: 6px;
}
.aai-action__wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.aai-action__wrapper i, .qw-item__right i {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}
.aai-action__wrapper i:hover, .qw-item__right i:hover {
    background-color: #e3d7d7;
}
.quizz-wrapper__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    padding-left: 6px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: 500;
}
.quizz-wrapper__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qw-item__left span {
    cursor: pointer;
}